<div class="top-bar">
  <h1>Stock Inventory</h1>
</div>
<section class="total-stock-section">
  <h2 [ngClass]="{'red': totalStock<0,'green':totalStock>0}">{{totalStock}}</h2>
</section>
<section class="add-item-section">
  <div class="add-item-container">
    <app-add-item-form style="padding:20px;" (formSubmit)="addStockItem($event)"></app-add-item-form>
  </div>
</section>
<hr style="margin-top:0">
<app-stock-item-list [stockItems]="stockItems" (deleteItem)="deleteItem($event)" (update)="updateItem($event)">
</app-stock-item-list>