@import '../../../../main-styles.scss';

.root{
  display: flex;
  width: 100%;
  position: relative;

  &:hover{
    .delete-icon-button{
      opacity: 1;
      transform: scale(1);
    }
  }

  .delete-icon-button{
    position: absolute;
    height: 34px;
    width: 34px;
    background:$dark;
    background-image: url('../../../../assets/icons/delete_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    right: -17px;
    top: -17px;
    transition: opacity 0.2s ease-out,transform 0.2s ease-out;
    transform: scale(0);
    opacity: 0;
    cursor: pointer;

    &:hover{
      transform: scale(1.2);
    }
  }
}

.stock-item{
  display: flex;
  width: 100%;
  background-color: $light-grey;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  .description{
    display: flex;
    flex-grow: 1;
    font-size: 18px;
    margin-left:5px;
    align-items: center;
  }

  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: darken( $light-grey, 15%);
  }

  .amount{
      padding: 5px;
      border-radius: 3px;
  }

}

.sold-stock{
  p{
    color:$red; 
     }
     .amount{
       background-color: $light-red;
     }
}

.in-stock{
  p{
    color:$green; 
     }
     .amount{
       background-color: $light-green;
     }
}