<section class="stock-item-section">
  <div class="stock-items-container">
    <div class="in-stock-column">
      <h1>Total Stock Inventory</h1>
      <div class="stock-items">
        <div *ngFor="let stockItem of stockItems">
          <app-stock-item-card *ngIf="stockItem.amount >=0" [stockItem]="stockItem"
            style="display:block;margin-bottom: 20px;" (deleteButtonClicked)="onDeleteItem(stockItem)"
            (cardClicked)="onCardClicked(stockItem)">
          </app-stock-item-card>
        </div>
      </div>
    </div>
    <div class="sold-stock-column">
      <h1>Sold Stock Inventory</h1>
      <div class="stock-items">
        <div *ngFor="let stockItem of stockItems">
          <app-stock-item-card *ngIf="stockItem.amount <0" [stockItem]="stockItem"
            style="display:block;margin-bottom: 20px;" (deleteButtonClicked)="onDeleteItem(stockItem)"
            (cardClicked)="onCardClicked(stockItem)">
          </app-stock-item-card>
        </div>
      </div>
    </div>
  </div>
</section>