@import '../../../main-styles.scss';

.stock-item-section{
  display: flex;
  padding: 50px;

  justify-content: center;
  align-items: center;

  .stock-items-container{
    display: flex;
    max-width: 680px;
    height: 100%;
    width: 100%;

    .in-stock-column, .sold-stock-column{
      display: flex;
      flex-direction: column;
      flex-basis: 0;
      flex-grow: 1;

      h1{
        font-family: 'Lato';
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
      }

      .stock-items{
          display: flex;
          flex-direction: column;
          margin-top: 20px;
      }
    }

    .in-stock-column{
      margin-right: 35px;
      h1{
        color:$green;
      }
    }

    .sold-stock-column{
      margin-right: 35px;
      h1{
        color:$red;
      }
    }
  }
}