<section class="stock-item-section">
  <div class="stock-items-container">
    <div class="in-stock-column">
      <h1>Total Stock Inventory</h1>
      <div class="stock-items">
        <app-stock-item-card [isInStock]="true" style="margin-bottom: 20px;"></app-stock-item-card>
        <app-stock-item-card [isInStock]="true" style="margin-bottom: 20px;"></app-stock-item-card>
      </div>
    </div>
    <div class="sold-stock-column">
      <h1>Sold Stock Inventory</h1>
      <div class="stock-items">
        <app-stock-item-card [isInStock]="false" style="margin-bottom: 20px;"></app-stock-item-card>
        <app-stock-item-card [isInStock]="false" style="margin-bottom: 20px;"></app-stock-item-card>
      </div>
    </div>
  </div>
</section>