<section class="stock-item-section">
  <div class="stock-items-container">
    <div class="in-stock-column">
      <h1>Total Stock Inventory</h1>
      <div class="stock-items">
        <div *ngFor="let item of stockItems">
          <app-stock-item-card *ngIf="item.amount >=0" [item]="item" style="display:block;margin-bottom: 20px;"
            (deleteButtonClicked)="onDeleteItem(item)">
          </app-stock-item-card>
        </div>
      </div>
    </div>
    <div class="sold-stock-column">
      <h1>Sold Stock Inventory</h1>
      <div class="stock-items">
        <div *ngFor="let item of stockItems">
          <app-stock-item-card *ngIf="item.amount <0" [item]="item" style="display:block;margin-bottom: 20px;"
            (deleteButtonClicked)="onDeleteItem(item)">
          </app-stock-item-card>
        </div>
      </div>
    </div>
  </div>
</section>